.hero {background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
url(hero.jpg);
display: flex;
align-items: center;
justify-content: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
text-align: center;}

.hero-text {text-align: center;
display: flex;
color:whitesmoke;
font-size: 30px;}

.About {text-align: center;
align-items: center;
word-wrap:normal;
position:relative;
padding-top: 50px;
padding-bottom: 50px;}

.about-text {text-align: center;
margin-left: 450px;
margin-right: 450px;
word-wrap: normal;
font-size: large;}

.icon {height: 300px;
background-color: rgb(66, 66, 66);}

.icon p {color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;}

*{box-sizing: border-box}
.column {float: left;
width: 25%;
padding: 50px;
margin-top: 50px;
word-wrap: normal;}

.row::after {
content: "";
clear: both;
display: table;}

.grid-container {display: grid;
gap: 1rem;
grid-template-columns:  repeat(3, 150px);
grid-template-rows: repeat(4, 100px);
}

.item1 {grid-row: 1/1;}

.item2 {grid-row: 2/2;
grid-column: 1/1;}

.item3 {grid-row: 3/-1;}

.item4 {grid-row: 1/2;
grid-column: 1/1;}

.item5 {grid-row: 3/3;
grid-column: 2/2;}

.item6 {grid-row: 3/3;
grid-column: 2/3;}

.item7 {grid-row: 1/1;
grid-column: 3/3;}

.item8 {grid-row: 2/3;
grid-column: 3/3;}

.grid-column {
text-align: center;
width: 33.3%;
padding: 5px;}

.grid-row {display: flex;
flex-wrap: wrap;
padding: 5px;}

.grid-text {height:21%;
color: slategray;
font-size: 30px;
text-align: center;
vertical-align: middle;
}